{% extends 'us_energy_viz/base.html' %}

{% load static %}

{% block title %}
Contact
{% endblock %}

{% block home_content %}
<div class="body_wrapper">
    <div class="site_wrapper fadeOnLoad">
        <!-- <div id="particles-js"></div> -->
        <div class="main_wrapper">
            <div class="content_wrapper">
                <div class="container">
                    <div class="content_block row no-sidebar">
                        <div class="fl-container">
                            <div class="row">
                                <div class="posts-block">
                                    <div class="contentarea">
                                        <div class="gt3_row_wrapper gt3_margin-top35">
                                            <div class="gt3_row_col3">
                                                <div class="gt3_block_wrapper2">
                                                    
                                                    <div class="page_title">
                                                        <h1>Contact information</h1>
                                                    </div>
                                                    <!-- .page_title -->
                                                    <article class="contentarea">
                                                        <p class=""><strong>Center for Robust Decision
                                                                making on Climate and Energy Policy</strong><br>5735
                                                            South Ellis
                                                            Avenue, 2nd Floor<br>Chicago, IL, 60637</p>
                                                        <p class="">Email: <a href="mailto:rdcep-info@uchicago.edu"
                                                                target="_blank">rdcep-info@uchicago.edu</a><br>Phone:&nbsp;(773)&nbsp;834-1726<br>Fax:&nbsp;(773)
                                                            834-6818</p>
                                                    </article>
                                                </div>
                                            </div>

                                            <div class="gt3_row_col4">
                                                <div class="gt3_block_wrapper2">
                                                    <iframe width="600" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=41.7905951%2C-87.60100490000002&key=AIzaSyAChgLMydtgwG9_Se3-Lt05BBzvekEn4u8" allowfullscreen></iframe>
                                                </div>
                                            </div>

                                        </div>

                                        <article class="contentarea">
                                            <p class=""><strong>Directions:</strong> The
                                                main offices of our center are located in the Computation Institute at
                                                the
                                                University of Chicago. To reach the Computation Institute enter the
                                                main door of the Searle building on Ellis Ave. Proceed down the ramp and
                                                turn right to find the elevator on your left. Take the elevator to the
                                                2nd
                                                floor and the Computation Institute main entrance will be down the hall
                                                to
                                                the right. This path is also a wheelchair-accessible route.</p>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block customscript %}
<!-- <script type="text/javascript" src="{% static 'us_energy_viz/js/particles.js' %}"></script>

<link rel="stylesheet" href="{% static 'us_energy_viz/css/themes/default/default.css' %}" type="text/css"
    media="screen" />
<script>
    jQuery(document).ready(function ($) {
        particleBody_init();
        
    });
</script> -->
{% endblock %}