{% extends 'us_energy_viz/base.html' %}

{% load static %}

{% block title %}
License
{% endblock %}

{% block home_content %}
<div class="body_wrapper">
    <div class="site_wrapper fadeOnLoad">
        <!-- <div id="particles-js"></div> -->
        <div class="main_wrapper">
            <div class="content_wrapper">
                <div class="container">
                    <div class="content_block row no-sidebar">
                        <div class="fl-container">
                            <div class="row">
                                <div class="posts-block">
                                    <div class="contentarea">
                                        <div class="page_title">
                                            <h1>License information</h1>
                                        </div>
                                        <!-- .page_title -->

                                        <article class="contentarea">
                                            <p>Licensed for public use under the Apache License, Version 2.0 (the
                                                <span style="font-family:sans-serif;font-weight: bold;">&#8220;</span>License<span style="font-family:sans-serif;font-weight: bold;">&#8221;</span>).</p>
                                            <p>You may obtain a copy of the License at
                                                http://www.apache.org/licenses/LICENSE-2.0 You may not use this file
                                                except in compliance with the License. Unless required by applicable law
                                                or agreed to in writing, software distributed under the License is
                                                distributed on an <span style="font-family:sans-serif;font-weight: bold;">&#8220;</span>AS IS<span style="font-family:sans-serif;font-weight: bold;">&#8221;</span> basis, without warranties or conditions of any
                                                kind, either express or implied. See the License for the specific
                                                language governing permissions and limitations under the License.</p>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block customscript %}
<!-- <script type="text/javascript" src="{% static 'us_energy_viz/js/particles.js' %}"></script>

<link rel="stylesheet" href="{% static 'us_energy_viz/css/themes/default/default.css' %}" type="text/css"
    media="screen" />
<script>
    jQuery(document).ready(function ($) {
        particleBody_init();
        
    });
</script> -->
{% endblock %}